# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/

# Virtual env
venv/
.venv/

# Local artifacts
data/preprocessed_data*.npz
data/ICBHI_final_database/
data/*.zip
checkpoints/
results/
logs/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

